@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

* {
  font-family: serif;
}

header {
  background-color: #4D0000;
  display: block;
  width: 100%;
  height: 94px;
  z-index: 10;
  position: fixed;
  top: 0;
}

header img {
  width: 188px;
  height: 70px;
  padding: 12px 0 0 30px;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  margin: 25px 25px 0 0;
}

header ul li a:hover {
  color: white;
}

header .hamburger-btn {
  width: 40px;
  height: 32px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  float: right;
  margin: 28px 34px 0 0;
}

header .hamburger-btn div {
  width: 40px;
  height: 1px;
  border-top: 5px solid white;
  margin: 9px 0;
}

.top {
  background-image: url("../image/top-bg.png");
  background-size: cover;
  height: 674px;
  padding-top: 0;
}

.top h1 {
  color: white;
  text-align: center;
  padding-top: 260px;
  font-size: 50px;
}

.features {
  color: white;
  background-color: black;
}

.features h1 {
  text-align: center;
  padding-top: 60px;
}

.features .container-fluid .row {
  padding: 40px 0;
}

.features .container-fluid .row .col-xs-12 img {
  width: 100%;
}

.features .container-fluid .row .col-xs-12 button {
  display: block;
  margin: 0 auto;
}

#wrap {
  background-color: black;
  padding: 10px 0;
  height: auto;
}

#wrap h1 {
  text-align: center;
}

h1 {
  color: white;
}

#slider {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

#slider .slide-item {
  background-color: white;
}

#slider .slide-item span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

#slider .slide-item span img {
  width: 100%;
}

.hotel-service {
  background-color: black;
}

.hotel-service .container-fluid .row .col-xs-12 {
  background-color: white;
  margin: 10px 0px;
  text-align: center;
  border-right: 15px solid black;
  border-left: 15px solid black;
  padding: 40px;
}

.hotel-service .container-fluid .row .col-xs-12 img {
  margin: 0 auto;
  width: 50%;
}

.FAQ {
  background-color: black;
  text-align: center;
  padding: 15px 0 10px;
}

.faq-title {
  position: relative;
  padding: 8px;
  border-bottom: solid 1px #333;
  cursor: pointer;
  text-align: center;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

.faq-title::after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  -webkit-transform: translate(0, -50%) rotate(135deg);
          transform: translate(0, -50%) rotate(135deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.faq-title.active::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.faq-description {
  display: none;
  margin: 0 auto 24px;
  padding: 8p;
  background-color: #c0c0c0;
  width: 80%;
}

.faq-description.active {
  display: block;
}

footer {
  background-color: #4D0000;
  color: white;
  text-align: center;
  line-height: 55px;
}

footer img {
  width: 188px;
  height: 70px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: white;
}

@media screen and (max-width: 770px) {
  header ul {
    display: none;
  }
  .top h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 770px) {
  header .hamburger-btn {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .features .container-fluid .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .container-fluid .reverse .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .features .container-fluid .reverse .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=style.css.map */